.dialog {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.chip {
  display: block;
  margin: 1rem;
  overflow: visible;
}

.body {
  height: 100%;
  padding: 0;
  button:first-child {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999;
  }
}

.layout {
  height: 100vh;
  max-height: 100vh;
  .header {
    background-color: white;
    height: 10rem;
    h5 {
      line-height: 8rem;
      text-align: center;
    }
  }
  .navDrawer {
    .drawerContent {
      overflow-y: scroll;
      padding: 0;
      display: block;
      text-align: center;
      background-color: rgba(245, 245, 245, 1);
      height: 100%;
      ul {
        list-style-type: none;
      }
      .newFunction {
        background-color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 3rem;
        padding-top: 2rem;
        .btn {
          margin-top: 2rem !important;
        }
        > .input {
          font-size: 1.2rem;
          padding-bottom: 0;
        }
      }
      .appliedFunction {
        &:hover {
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          .fontIcon {
            opacity: 0.4;
            cursor: all-scroll;
          }
          button:first-child {
            opacity: 0.4;
          }
        }
        position: relative;
        background-color: white;
        cursor: pointer;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        position: relative;
        .fontIcon {
          float: left;
          transition: 300ms opacity;
          line-height: 6rem;
          width: 6rem;
          opacity: 0;
        }
        button:first-child {
          transition: 300ms opacity;
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
        }
        .info {
          padding-top: 1.6rem;
          padding-bottom: 1.6rem;
          text-align: left;
          div {
            font-size: 1.2rem;
            line-height: 1.4rem;
            strong {
              font-weight: 500;
              color: #0297E6;
            }
          }
          small {
            font-size: 1.0rem;
            line-height: 1.4rem;
            opacity: 0.7;
          }
        }
      }
    }
  }
  .panel {
    height: 100%;
    h5 {
      padding-left: 20px;
      text-align: left;
      color: #424242;
    }
    .stats {
      padding-left: 20px;
      margin-top: -20px;
      height: 4rem;
    }
    table {
      border-spacing: 0;
    }
    th {
      background-color: whitesmoke;
    }
    td {
      color: #424242;
    }
  }
}

