.scriptEditor {
  position: relative;
  height: 100%;
  width: 100%;
}

$outlineColor: #C1C1C1;

.pill {
  border-width: 1px 0 1px;
  border-style: solid;
  border-top-color: #FAFAFA;
  border-bottom-color: #FAFAFA;
  font-size: 14px;
  padding: 12px;
  padding-left: 20px;
  color: #4A4A4A;
}

.leftPanel {
  border: 1px solid $outlineColor;
  width: 50%;
  height: 200px;
  float: left;
}

.function {
  padding: 24px;
  font-size: 18px;
  color: black;
}

.functionHeader {
  float: left;
}

.functionName {
  float: left;
  padding-top: 0;
  margin-top: -8px;
  margin-left: 20px;
  margin-right: 20px;
  width: 80%;
  font-size: 18px;
}

.package {
  width: 80%;
}

.packageHeader {
  float: left;
  font-size: 14px;
  font-weight: 600;
  color: black;
  padding: 20px;
  padding-bottom: 0;
}

.packageName {
  float: left;
  width: 200px;
  margin-top: -8px;
  input {
    font-size: 14px;
  }
  padding-bottom: 0;
}

.language {
  float: right;
  margin-right: 16px;
}

.languageHeader {
  float: left;
  font-size: 14px;
  font-weight: 600;
  color: black;
  padding: 20px;
  padding-bottom: 0;
}

.languageName {
  float: left;
  width: 80px;
  font-size: 14px;
  margin-top: -8px;
  input {
    font-size: 14px;
    padding-bottom: 0;
  }
  padding-bottom: 0;
}

.portHeader {
  padding: 0 24px 10px 24px;
  font-size: 14px;
  color: black;
  font-weight: 600;
}

.port {
  composes: pill;
}

.rightPanel {
  border: 1px solid $outlineColor;
  width: calc(50% - 16px);
  margin-left: 16px;
  height: 200px;
  float: left;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.imports {
  margin-top: 16px;
  margin-bottom: 10px;

  .importHeader {
    margin-left: 20px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.import {
  composes: pill;
  border-left: 4px solid #00CBD5;
}

.bodyTab {

}

.definitionsTab {

}

.scriptEditorBox {
  border: 1px solid $outlineColor;
}

.scriptBody {
  section {
    padding: 0;
    margin-top: 10px;
  }
  nav {
    box-shadow: none;
  }
}
