.accountView {
  color: #757575;
  .container {
    width: 100%;
    margin-left: 5rem;
    margin-top: 0rem;
    position: relative;
    .avatar {
      color: #757575;
      border: 1px solid #cbcbcb;
      background: #fff;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: -2px 2px 6px -1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: -2px 2px 6px -1px rgba(0, 0, 0, 0.3);
      -o-box-shadow: -2px 2px 6px -1px rgba(0, 0, 0, 0.3);
      box-shadow: -2px 2px 6px -1px rgba(0, 0, 0, 0.3);
    }
  }
}

.absolute {
  position: absolute;
  opacity: 0.3;
  top: 50px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  -webkit-background-image: url(../../../static/assets/images/metadata_background.jpg);
  -moz-background-image: url(../../../static/assets/images/metadata_background.jpg);
  background-image: url(../../../static/assets/images/metadata_background.jpg);
  background: url(../../../static/assets/images/metadata_background.jpg);
  background-repeat: no-repeat;
  background-position: right top;
}

$blue-gray 			    : #34495e;
$blue-gray-darken 	: #2c3e50;
$blue 				      : #3498db;
$blue-darken 		    : #2980b9;
$green 				      : #1abc9c;
$green-darken 		  : #16a085;

.breadcrumbsList{
  list-style:none;
  display: inline-block;
  margin: 15px 5px;
  .icon {
    font-size: 14px;
  }

  li{
    float:left;
    a {
      color:#FFF;
      display:block;
      background: $blue;
      text-decoration: none;
      position:relative;
      height: 30px;
      line-height:30px;
      padding: 0 10px 0 1px;
      text-align: center;
      margin-right: 23px;
      .fa {
        margin-right: 5px;
      }
      .material-icons {
        margin-right: 5px;
      }
    }
    &:nth-child(even){
      a {
        background-color: $blue-darken;

        &:before{
          border-color:$blue-darken;
          border-left-color:transparent;
        }
        &:after{
          border-left-color:$blue-darken;
        }
      }
    }
    &:first-child{
      a {
        padding-left: 15px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
        &:before{
          border:none;
        }
      }
    }
    &:last-child{
      a {
        padding-right:15px;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        &:after{
          border:none;
        }
      }
    }

    a {
      &:before,
      &:after{
        content: "";
        position:absolute;
        top: 0;
        border: 0 solid $blue;
        border-width: 15px 10px;
        width: 0;
        height: 0;
      }
      &:before{
        left:-20px;
        border-left-color: transparent;
      }
      &:after{
        left:100%;
        border-color:transparent;
        border-left-color:$blue;
      }
      &:hover{
        background-color: $green;

        &:before{
          border-color:$green;
          border-left-color:transparent;
        }
        &:after{
          border-left-color:$green;
        }
      }
      &.breadcrumbActive{
        background-color: $green-darken;

        &:before{
          border-color:$green-darken;
          border-left-color:transparent;
        }
        &:after{
          border-left-color:$green-darken;
        }
      }
    }
  }
}

.table {
  tr {
    font-size: 14px;
    height: 38px;
    line-height: 38px;
  }
}

.link {
  color: #0096FF;
  &:visited {
    color: #0096FF;
  }
}
