.infoTable {
  tbody {
    font-size: 14px;
    tr {
      line-height: 25px;
      height: 25px;
      &:hover {
        background: none;
      }
      td {
        padding: 5px;
        border: none;
        &:nth-child(2) {
          font-size: 16px;
          color: #424242;
        }
      }
    }
  }
  .row {
    padding: 5px;
    border: none;
  }
}
