// This file overrides sass variables used to construct react-toolbox css

$preferred-font: "Source Sans Pro", "Helvetica", "Arial", sans-serif !default;

// $color-primary: $palette-indigo-500 !default;
$color-primary: #049DF8 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-a200 !default;
$color-accent-dark: $palette-pink-700 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;

$checkbox-text-color: #666;


