$turquoise-color: #00CBD5;
$purple-color: #C37DCF;
$blue-color: #0297E6;
$violet-color: #876CF8;
$pink-color: #FF379C;
$dark-purple-color: #AE3ED4;

header {
  background: #333333;
  height: 50px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* react-toolbox is messing up MUI MenuItem styling so undo that behavior */
html [type="button"] {
  -webkit-appearance: none;
}

.node .closeIcon {
  opacity: 0;
  display: none;
  transition: 300ms opacity;
  -webkit-transition: 300ms opacity;
  position: absolute;
  top: 3px;
  right: 4px;
  color: gray;
  cursor: pointer;
}

.node:hover .closeIcon {
  opacity: 1;
  display: inline-block;
}

#root {
  height: 100%;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.main-content {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 10;
  //    -ms-transform: translate3d(240px, 0, 0);
  //    -moz-transform: translate3d(240px, 0, 0);
  //    -webkit-transform: translate3d(240px, 0, 0);
  //    -o-transform: translate3d(240px, 0, 0);
  //    transform: translate3d(240px, 0, 0);
  //    -ms-transition: all 0.3s;
  //    -moz-transition: all 0.3s;
  //    -webkit-transition: all 0.3s;
  //    -o-transition: all 0.3s;
  //    transition: all 0.3s;
  background: #fff;
  //    -webkit-box-shadow: -4px 0px 4px 0px rgba(0, 0, 0, 0.10);
  //    -moz-box-shadow: -4px 0px 4px 0px rgba(0, 0, 0, 0.10);
  //    box-shadow: -4px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.app-menu-header {
  background: #000;
  padding: 5px 20px;
  font-size: 13px;
  color: white;
  height: 50px;

  cursor: pointer;
  & > span {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    float: left;
  }
  & > i {
    position: relative;
    color: white;
    transition: all 0.5s ease;
  }
  & > i:last-child {
    float: right;
  }
}
.app-menu-content {
  clear: both;
}
//    .dropdown-content {
//        margin: 0;
//        right: 0;
//        width: 100px;
//        min-width: 60px;
//        padding-left: 0;
//        li {
//            width: 100%;
//            margin: 0;
//            text-align: right;
//            &:before {
//                display: none;
//            }
//        }
//    }
.app-menu-content {
  padding: 0;
  margin: 25px 0 25px;
  padding: 0 24px;
  .app-menu-item {
    text-align: left;
    list-style: none;
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 500 !important;
    text-decoration: none !important;
    background: none !important;

    .material-icons {
      margin-right: 30px;
      vertical-align: middle;
    }

    &:hover,
    &.active {
      color: #000 !important;
      .material-icons {
        color: #000;
        opacity: 1;
      }
    }
  }
}

.burger {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  color: #b0b0b0;
  margin: 0;
  line-height: 60px;
  height: 50px;
  width: 50px;
  display: block;
  text-align: center;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  position: absolute;
  &:hover {
    color: #777;
  }
}


/* Header */

.header {
  height: 50px;
  position: relative;
  top: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
  z-index: 100;
  width: 100%;
  opacity: .95;
  background-color: #333333;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu {
  display: none;
}

.logo {
  float: right;
  font-size: 18px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  margin: 12px 25px;
  img {
    margin-right: 20px;
  }
}

h1 {
  display: none;
}


/* Animation */

.main-content .burger {
  opacity: 0;
}

.main-content.hide-menu .burger {
  opacity: 1;
}

.side-menu.hide-menu {
  -ms-transform: translate(-256px, 0);
  -moz-transform: translate(-256px, 0);
  -webkit-transform: translate(-256px, 0);
  -o-transform: translate(-256px, 0);
  transform: translate(-256px, 0);
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.side-menu li.hide-menu {
  -ms-transform: translate3d(-256px, 0, 0);
  -moz-transform: translate3d(-256px, 0, 0);
  -webkit-transform: translate3d(-256px, 0, 0);
  -o-transform: translate3d(-256px, 0, 0);
  transform: translate3d(-256px, 0, 0);
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.diagram {
  height: 570px;
  position: relative;
}

.plus {
  color: #9B9B9B;
  margin: 40px 50px;
  position: relative;
  float: left;
  cursor: pointer;
}

.bottom-menu {
  position: absolute;
  padding: 10px;
  background: #fff;
  bottom: 0;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: 250ms all;
  transition: 250ms all;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 0rem;
  padding: 0;
  width: 217px;
  opacity: 0;
  display: none;
  z-index: 500;
  &.active {
    height: auto;
    padding: 10px;
    display: block;
    opacity: 1;
    ul {
      transform: translateY(0px);
    }
  }
  ul {
    padding: 0;
    list-style: none;
    margin: 0 0 22px;
    transform: translateY(100px);
    li {
      padding: 15px 0;
      line-height: 14px;
      display: block;
      height: 14px;
      box-sizing: content-box;
      @extend .clearfix;
      a {
        color: #fff;
        padding: 0 10px;
        color: #757575;
        text-decoration: none;
        font-size: 14px;
        &:hover {
          color: #000;
        }
      }
    }
  }
  .material-icons {
    margin-right: 30px;
    position: relative;
    top: 7px;
  }
}

.play-btn {
  margin: 23px 30px;
  width: 56px;
  height: 56px;
  background: #EF5350;
  float: right;
  border-radius: 56px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
  }
}

.subheader {
  height: 45px;
  width: 100%;
  position: relative;
  z-index: 210;
  .process-icon {
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    float: left;
  }
  & > ul {
    width: 100%;
    padding: 0;
    margin: 0;
    & > li {
      width: 16.666%;
      min-width: 200px;
      height: 45px;
      display: block;
      background: #fff;
      float: left;
      text-align: left;
      border-bottom: 2px solid #fff;
      &.io {
        &:hover {
          border-color: $turquoise-color;
        }
        & > a {
          color: $turquoise-color;
        }
      }
      &.transform {
        &:hover {
          border-color: $purple-color;
        }
        & > a {
          color: $purple-color;
        }
      }
      &.join-split {
        &:hover {
          border-color: $violet-color;
        }
        & > a {
          color: $violet-color;
        }
      }
      &.ml {
        &:hover {
          border-color: $blue-color;
        }
        & > a {
          color: $blue-color;
        }
      }
      &.script {
        &:hover {
          border-color: $dark-purple-color;
        }
        & > a {
          color: $dark-purple-color;
        }
      }
      &.visualize {
        &:hover {
          border-color: $pink-color;
        }
        & > a {
          color: $pink-color;
        }
      }
      & > a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        line-height: 45px;
        font-family: 'Source Sans Pro Light', sans-serif;
      }
    }
  }
}

.icon {
  opacity: 0.54;
  margin-top: 10px;
  display: inline;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.circle:hover {
  fill: #ffffff;
}

.workflow-node-endpoint {
  width: 5px;
  height: 5px;
  border: 2px solid #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(204, 204, 204, 1);
  box-shadow: 0px 0px 0px 2px rgba(204, 204, 204, 1);
  position: absolute;
  top: 50%;
  box-sizing: content-box;
  z-index: 30;
  &.left {
    right: 100%;
    transform: translate(50%, -50%);
  }
  &.right {
    left: 100%;
    transform: translate(-50%, -50%);
  }
}

//*------Nodes-------*//
.input-node {
  .node {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='42' viewBox='0 0 48 42' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eshape2 copy 3%3C/title%3E%3Cdefs%3E%3ClinearGradient x1='-12.883%25' y1='-36.8%25' x2='81.457%25' y2='144.84%25' id='a'%3E%3Cstop stop-color='%2313A5AC' offset='0%25'/%3E%3Cstop stop-color='%2316EAF5' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate%28-46 -38%29' fill='url%28%23a%29' fill-rule='evenodd'%3E%3Cpath d='M58.15 79.347L46.24 58.713 58.15 38.08h23.825l11.913 20.633-11.913 20.634H58.15z'/%3E%3Cpath d='M58.15 79.347L81.976 38.08v41.267H58.15z' opacity='.3'/%3E%3Cpath d='M58.15 38.08l23.825 41.267H58.15V38.08z' opacity='.3'/%3E%3Cpath d='M46.238 58.713h47.65L58.15 38.08 46.24 58.713z' opacity='.3'/%3E%3C/g%3E%3C/svg%3E");
  }
  .connection {
    background: $turquoise-color;
  }
  .node-title {
    color: $turquoise-color;
  }
}

.sql-node {
  .node {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='48' viewBox='0 0 35 48' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eshape4%3C/title%3E%3Cdefs%3E%3ClinearGradient x1='121.384%25' y1='82.979%25' x2='77.946%25' y2='100%25' id='a'%3E%3Cstop stop-color='%23C37DCF' offset='0%25'/%3E%3Cstop stop-color='%239D3CAD' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate%28-54 -157%29' fill='url%28%23a%29' fill-rule='evenodd'%3E%3Cpath d='M60.685 205L54 184.253 71.5 157 89 184.253 82.314 205h-21.63z'/%3E%3Cpath d='M71.5 157l-10.938 48H82.44L71.5 157z' opacity='.3'/%3E%3Cpath d='M54 183.182h35L60.703 203.91 54 183.18z' opacity='.3'/%3E%3Cpath d='M82.438 205L71.55 157 54 184.253 82.437 205z' opacity='.3'/%3E%3C/g%3E%3C/svg%3E");
  }
  .connection {
    background: $purple-color;
  }
  .node-title {
    color: $purple-color;
  }
}

.ml-node {
  .node {
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='44' viewBox='0 0 46 44' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eshape1%3C/title%3E%3Cdefs%3E%3ClinearGradient x1='215.307%25' y1='-28.149%25' y2='123.676%25' id='a'%3E%3Cstop stop-color='%233023AE' offset='0%25'/%3E%3Cstop stop-color='%2300A8FF' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate%28-47 -281%29' fill='url%28%23a%29' fill-rule='evenodd'%3E%3Cpath d='M55.932 324.384l-8.698-26.767 22.77-16.542 22.768 16.542-8.698 26.767H55.932z'/%3E%3Cpath d='M70.003 281.075l-14.07 43.31h28.14l-14.07-43.31z' opacity='.3'/%3E%3Cpath d='M47.234 297.617h45.538l-36.815 27.23-8.723-27.23z' opacity='.3'/%3E%3Cpath d='M84.13 324.384l-14.127-43.31-22.77 16.543 36.897 26.767z' opacity='.3'/%3E%3C/g%3E%3C/svg%3E");
  }
  .connection {
    background: $blue-color;
  }
  .node-title {
    color: $blue-color;
  }
}

.split-node {
  .node {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='38' viewBox='0 0 48 38' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eshape6%3C/title%3E%3Cdefs%3E%3ClinearGradient x1='-59.049%25' y1='-8.486%25' x2='85.307%25' y2='67.832%25' id='a'%3E%3Cstop stop-color='%239988DE' offset='0%25'/%3E%3Cstop stop-color='%234726CC' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate%28-46 -406%29' fill='url%28%23a%29' fill-rule='evenodd'%3E%3Cpath d='M70.353 444.062l-24.32-18.495v-19.48l24.32 17.862v20.112z'/%3E%3Cpath d='M70.353 444.062l-24.32-37.975 24.32 17.862v20.112z' opacity='.3'/%3E%3Cpath d='M46.033 425.567l24.32-1.618v20.112l-24.32-18.495z' opacity='.3'/%3E%3Cg%3E%3Cpath d='M70.353 444.062l23.536-18.495v-19.48L70.352 423.95v20.112z'/%3E%3Cpath d='M70.353 444.062l23.536-37.975-23.537 17.862v20.112z' opacity='.3'/%3E%3Cpath d='M93.89 425.567l-23.537-1.618v20.112l23.536-18.495z' opacity='.3'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .connection {
    background: $violet-color;
  }
  .node-title {
    color: $violet-color;
  }
}

.cleanse-node {
  .node {
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='51' viewBox='0 0 45 51' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EGroup%3C/title%3E%3Cdefs%3E%3ClinearGradient x1='50.028%25' y1='-77.64%25' x2='50.028%25' y2='101.407%25' id='a'%3E%3Cstop stop-color='%23FF80BC' offset='0%25'/%3E%3Cstop stop-color='%23FF0084' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='50.057%25' y1='-61.786%25' x2='50.057%25' y2='117.261%25' id='b'%3E%3Cstop stop-color='%23FFF' offset='0%25'/%3E%3Cstop stop-color='%23FF1D91' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='50.028%25' y1='-61.871%25' x2='50.028%25' y2='117.312%25' id='c'%3E%3Cstop stop-color='%23FF2B97' offset='0%25'/%3E%3Cstop stop-color='%23CBF7FC' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M12.73 43.373L.235 21.72 12.73.1h24.996l12.497 21.62-12.497 21.653H12.73z' fill='url%28%23a%29' transform='rotate%2830 16.536 18.402%29'/%3E%3Cpath d='M12.73 43.373L37.727.1v43.273H12.73z' fill='url%28%23b%29' opacity='.3' transform='rotate%2830 16.536 18.402%29'/%3E%3Cpath d='M50.223 21.486H.233l37.493 21.62 12.497-21.62z' fill='url%28%23c%29' opacity='.3' transform='rotate%2830 16.536 18.402%29'/%3E%3C/g%3E%3C/svg%3E");
  }
  .connection {
    background: $pink-color;
  }
  .node-title {
    color: $pink-color;
  }
}

.script-node {
  .node {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='48' viewBox='0 0 28 48' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eshape5%3C/title%3E%3Cdefs%3E%3ClinearGradient x1='0%25' y1='0%25' x2='102%25' y2='101%25' id='a'%3E%3Cstop stop-color='%233023AE' offset='0%25'/%3E%3Cstop stop-color='%23C96DD8' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate%28-57 -645%29' fill='url%28%23a%29' fill-rule='evenodd'%3E%3Cpath d='M57.244 657l13.572-11.987L84.386 657v23.967l-13.57 11.985-13.572-11.985V657z'/%3E%3Cpath d='M57.244 657l27.14 23.967h-27.14V657z' opacity='.3'/%3E%3Cpath d='M84.385 657l-27.14 23.967V657h27.14z' opacity='.3'/%3E%3Cpath d='M70.816 645.013v47.94l13.57-35.954-13.57-11.987z' opacity='.3'/%3E%3C/g%3E%3C/svg%3E");
  }
  .connection {
    background: $dark-purple-color;
  }
  .node-title {
    color: $dark-purple-color;
  }
}

.node {
  width: 70px;
  height: 70px;
  border-radius: 2px;
  border: 1px solid #CCCCCC;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
}

.node-group {
  background: rgba(255, 255, 255, 0.5);
  .node-box {
    position: absolute;
  }
  .row {
    margin: 0 -15px;
  }
  &.min {
    position: absolute;
    bottom: 60px;
    height: 130px;
    cursor: pointer;
    .node {
      margin-bottom: 60px;
    }
  }
  &.ml-node {
    .node {
      background-image: url(../../static/assets/images/ml-group.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
  }
  .node-title {
    position: absolute;
    top: 76px;
    margin: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-table;
    text-align: center;
    min-width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
  }
  .overlay {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 70px;
    height: 70px;
    background: rgba(248, 248, 248, 0.45);
    border: 2px solid #0297E6;
    border-radius: 2px;
    opacity: 0;
    transition: all 0.3s linear;
    .material-icons {
      opacity: 0.4;
      transform: rotate(45deg);
      padding: 16px;
    }
  }
}

.dropdown {
  position: relative;
  &:before {
    display: none;
    content: '';
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    z-index: 300;
  }
}

.functionList {
  .functionTooltip {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    overflow-y: 'auto';
    z-index: 9999999;
    white-space: nowrap;
  }
  li {
    cursor: pointer;
    list-style: none;
    position: relative;
    height: 35px;
    padding-left: 10px;
    width: calc(50% - 10px);
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    line-height: 35px;
    & > a {
      display: inline-block;
      max-width: calc(100% - 15px);
      color: #333333;
      text-decoration: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &:before {
      content: '';
      background: #CCCCCC;
      height: 10px;
      width: 10px;
      position: absolute;
      left: -10px;
      top: 13px;
    }
    &:hover, &.selected {
      color: #00A9EB;
      &:before {
        background: #00A9EB;
      }
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 140%;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px 12px 33px;
  z-index: 200;
  text-align: left;
  width: 387px;
  li {
    list-style: none;
    position: relative;
    height: 35px;
    padding-left: 15px;
    width: 50%;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    line-height: 35px;
    & > a {
      display: inline-block;
      max-width: 100%;
      color: #333333;
      text-decoration: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &:before {
      content: '';
      background: #CCCCCC;
      height: 10px;
      width: 10px;
      position: absolute;
      left: -10px;
      top: 13px;
    }
    &:hover {
      color: #00A9EB;
      &:before {
        background: #00A9EB;
      }
    }
  }
  li.subcategory {
    float: none;
    font-size: 11px;
    font-weight: normal;
    padding-left: 0;
    margin-left: 15px;
    width: 100%;
    color: #555 !important;
    border-bottom: 1px solid #c1c1c1;
    clear: both;
  }
  li.subcategory:before {
    display: none !important;
  }
}
.dropdown.single-column {
  .dropdown-content {
    width: 100%;

    li {
      float: none;
      width: 100%;
    }
  }
}
.dropdown.two-column {
  .dropdown-content {
    padding: 0px 16px 0px 16px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    & > ul {
      float: left;
      width: 45%;
      padding: 12px 0 12px 15px;
    }
    & > ul:last-child {
      float: right;
      width: 50%;
    }
  }
}
.dropdown.io {
  .dropdown-content {
    & > li {
      &:hover {
        a {
          color: $turquoise-color;
        }
        &:before {
          background: $turquoise-color;
        }
      }
    }
  }
}
.dropdown.transform {
  .dropdown-content {
    & > li {
      &:hover {
        a {
          color: $purple-color;
        }
        &:before {
          background: $purple-color;
        }
      }
    }
  }
}
.dropdown.join-split {
  .dropdown-content {
    & > li {
      &:hover {
        a {
          color: $violet-color;
        }
        &:before {
          background: $violet-color;
        }
      }
    }
  }
}
.dropdown.ml {
  .dropdown-content {
    & > li {
      &:hover {
        a {
          color: $blue-color;
        }
        &:before {
          background: $blue-color;
        }
      }
    }
  }
}
.dropdown.script {
  .dropdown-content {
    & > li {
      &:hover {
        a {
          color: $dark-purple-color;
        }
        &:before {
          background: $dark-purple-color;
        }
      }
    }
  }
}
.dropdown.visualize {
  .dropdown-content {
    & > li {
      &:hover {
        a {
          color: $pink-color;
        }
        &:before {
          background: $pink-color;
        }
      }
    }
  }
}

.app-bar {
  & > button {
    margin-top: 0 !important;
    width: 50px !important;
    height: 50px !important;
  }
}


.subheader .dropdown:last-child {
  .dropdown-content {
    right: 0;
  }
}

.dropdown:hover {
  &:before {
    display: block;
  }
  .dropdown-content {
    display: block;
  }
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: -40%;
    opacity: 0;
  }
}

.workflow-tab-list {
  position: relative;
  left: 0;
  right: 0;
  background: #F8F9FA;
  height: 26px;
  margin: 0 !important;
  padding: 0;
  border-bottom: none !important;
  border-top: 1px solid #C1C1C1;
  z-index: 20;
  outline: none;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    border-top: 1px solid #C1C1C1;
    left: 0;
    right: 0;
    z-index: 25;
  }
  .workflow-tab-item {
    float: left;
    list-style: none;
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
    bottom: auto !important;
    display: block !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 11px;
    border: none !important;
    border-radius: 0 !important;
    color: #848484 !important;
    box-shadow: none !important;
    outline: none;
    span {
      text-decoration: none;
      padding: 5px 33px 5px 13px;
      display: block;
      outline: none;
    }
    &.ReactTabs__Tab--selected {
      span {
        background: #FFFFFF;
        border-left: 1px solid #C1C1C1;
        border-right: 1px solid #C1C1C1;
        border-bottom: 1px solid #ffffff;
        position: relative;
        z-index: 40;
      }
    }
  }
  .workflow-tab-last {
    background: #F2F2F2;
    & > span {
      padding-right: 8px;
    }
    & > button {
      width: 100%;
      height: 100%;
      padding: 0 0 1px 0;
      margin: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      outline: none;
      cursor: pointer;
      -webkit-transition: all .15s linear;
      -o-transition: all .15s linear;
      transition: all .15s linear;

      &:hover {
        background: #E8E8E8;
      }
    }
  }
  button {
    padding: 0;
    background: transparent;
    border: 0;
    color: #A0A0A0;
    position: absolute;
    top: 6px;
    right: 9px;
    z-index: 50;
  }
}

.material-icons.md-14 {
  font-size: 14px;
}

.material-icons.md-16 {
  font-size: 18px;
}

.material-icons.md-9 {
  font-size: 9px;
}

.material-icons.md-32 {
  font-size: 32px;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}

.fade.in {
  opacity: 1;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.node-box {
  box-sizing: content-box;
  width: 70px;
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 10px;
  cursor: pointer;
  .node-title {
    position: absolute;
    bottom: -22px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    display: inline-table;
    text-align: center;
    min-width: 130px;
  }
  .node {
    position: relative;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border: 1px solid #CCCCCC;
    borderRadius: 2px;
    cursor: pointer;
  }
  .node-subtitle {
    position: absolute;
    top: 90px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-table;
    text-align: center;
    min-width: 130px;
  }
  .node-subtitle-editor {
    input {
      display: inline-block;
      border: none;
      background: none;
      text-align: center;
      width: 100%;
      padding: 0;
      margin: 0;
      font: 600 10px/normal 'Source Sans Pro', sans-serif;
      opacity: 1;
      color: inherit;
      outline: none;
    }
    position: absolute;
    top: 90px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
    width: 100%;
    min-width: 130px;
  }
}


.node-box {
  &.io {
    .node-title {
      color: $turquoise-color;
    }
  }
}
.node-box {
  &.transform {
    .node-title {
      color: $purple-color;
    }
  }
  &.join-split {
    .node-title {
      color: $violet-color;
    }
  }
  &.ml {
    .node-title {
      color: $blue-color;
    }
  }
  &.script {
    .node-title {
      color: $dark-purple-color;
    }
  }
  &.visualize {
    .node-title {
      color: $pink-color;
    }
  }
}


.diagram.active {
  .path {
    .chart {
      opacity: 0;
      transition: opacity 0.5s easy;
    }
    &#path1 {
      svg {
        .arrow-left {
          fill: url(#grad1l);
        }
        .arrow-right {
          fill: url(#grad1r);
        }
        rect {
          fill: url(#grad1);
        }
      }
    }
    &#path2 {
      svg {
        .arrow-left {
          fill: url(#grad2l);
        }
        .arrow-right {
          fill: url(#grad2r);
        }
        rect {
          fill: url(#grad2);
        }
      }
    }
    &#path3 {
      svg {
        .arrow-left {
          fill: url(#grad3l);
        }
        .arrow-right {
          fill: url(#grad3r);
        }
        rect {
          fill: url(#grad3);
        }
      }
    }
    &#path4 {
      svg {
        path {
          stroke: url(#grad4);
        }
        .arrow-left {
          fill: url(#grad4l);
        }
        .arrow-right {
          fill: url(#grad4r);
        }
      }
    }
    &#path {
      svg {
        .arrow-left {
          fill: url(#grad5l);
        }
        .arrow-right {
          fill: url(#grad5r);
        }
        rect {
          fill: url(#grad5);
        }
      }
    }
    &#path6 {
      svg {
        .arrow-left {
          fill: url(#grad6l);
        }
        .arrow-right {
          fill: url(#grad6r);
        }
        rect {
          fill: url(#grad6);
        }
      }
    }
    &#path7 {
      svg {
        .arrow-left {
          fill: url(#grad7l);
        }
        .arrow-right {
          fill: url(#grad7r);
        }
        rect {
          fill: url(#grad7);
        }
      }
    }
  }
}

.path-box {
  &:hover {
    svg {
      path {
        stroke: #c1c1c1;
      }
    }
    .chart {
      color: #848484;
    }
    .delete-path,
    .workflow-edge-overlay-label {
      opacity: 1;
    }
  }
}

.arrow {
  opacity: 0;
}

.workflow-edge {
  position: absolute;
  box-sizing: border-box;
  display: block;

  & > .workflow-edge-overlay {
    transition: opacity 0.25s ease;
    opacity: 0;
  }

  &.jsplumb-hover {
    .workflow-edge-overlay {
      opacity: 1;
    }
    .delete-path,
    .workflow-edge-overlay-label {
      opacity: 1;
    }
  }
  svg {
    //        position: absolute;
    //        top: 0;
    //        left: 0;
    //        width: 100%;
    //        height: 100%;
    .arrow {
      fill: #ccc;
      transition: fill 3s ease;
    }
    rect {
      fill: #ccc;
      transition: fill 3s ease;
    }
  }
  .arrow-left {
    transform: translateX(10px)
  }
  .arrow-right {
    //        transform: translateX(calc(100% - 10px))
  }
  .chart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    width: 16px;
    height: 16px;
    display: block;
    color: #A0A0A0;
    z-index: 21;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      right: 1px;
      bottom: 0;
      background: #fff;
      z-index: -1;
    }
  }
}

.workflow-edge-delete-icon {
  i {
    color: #A0A0A0;
    cursor: pointer !important;
    font-size: 14px !important;
  }
}

.workflow-edge-chart {
  i {
    color: #A0A0A0;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s linear;
  }

  &.jsplumb-hover,
  &:hover {
    i {
      color: #0297E6;
    }
  }
}


.delete-path {
  transform: rotate(45deg);
  color: #848484;
  position: absolute;
  right: 10%;
  top: 14px;
  opacity: 0;
  transition: opacity 0.3s linear;
  z-index: 10;
  &:after {
    position: absolute;
    content: '';
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #fff;
    border-radius: 100%;
    z-index: -1;
  }
}

.workflow-edge-overlay-label {
  color: #848484;
  position: absolute;
  left: 20px;
  top: 0px;
  font-size: 11px;
  opacity: 0;
  transition: opacity 0.3s linear;
  text-transform: uppercase;
  opacity: 0;

  input {
    position: absolute;
    top: 0;
    left: 0;
    right: -50px;
    bottom: 0;
    width: 150%;
    pointer-events: none;
    opacity: 0;
    text-transform: uppercase;
    color: #848484;
    &:focus {
      outline: none;
    }
  }
  &.jsplumb-hover {
    opacity: 1;
  }
  &.active {
    span {
      opacity: 0;
      pointer-events: none;
    }
    input {
      opacity: 1;
      pointer-events: auto;
    }
  }
}


.workflow-edge-path-label {
  color: #848484;
  padding: 0 2px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.75);
  transform: translate(0, -20px) !important;

  &.right {
    transform: translate(-100%, -20px) !important;
  }
}

.minimize-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../../static/assets/images/minimize-icon.svg);
  width: 13px;
  height: 13px;
  background-size: cover;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.add-group-label {
  color: #0297E6;
  font-size: 11px;
  position: absolute;
  top: 10px;
  left: 15px;
  border-bottom: 1px dashed #CCCCCC;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s linear;
  i {
    color: #A0A0A0;
  }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    padding: 0;
    color: #0297E6;
    opacity: 0;
    pointer-events: none;
    &:focus {
      outline: none;
    }
  }
  &.active {
    span {
      opacity: 0;
      pointer-events: none;
    }
    input {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.node-group-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #EF5350;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.node-group-overlay {
  position: absolute;
  width: 450px;
  height: 180px;
  //    margin: 50px 0;
  border: 1px solid rgba(204, 204, 204, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
//  &:hover {
  & {
    .minimize-icon,
    .add-group-label,
    .node-group-close {
      opacity: 1;
    }
  }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  &:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.32);
    z-index: -1;
  }
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  transform: translateX(-50%);
}

.modal-dialog {
  position: relative;
  width: auto;
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50%;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 2px 23px 3px rgba(0, 0, 0, 0.41);
  border-radius: 4px;
  padding: 50px;
}

.modal-body {
  margin: 0 -7px;
  @extend .clearfix
}

.col-2 {
  width: 50%;
  padding: 0 7px;
  float: left;
  position: relative;
}
.col-3 {
  width: 33.33%;
  padding: 0 7px;
  float: left;
  position: relative;
}
.col-23 {
  width: 66.66%;
  padding: 0 7px;
  float: left;
  position: relative;
}
.col-4 {
  width: 25%;
  padding: 0 7px;
  float: left;
  position: relative;
}

.column-inner {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  &.purple {
    border-left: 4px solid #AF3FD5;
  }
  &.blue {
    border-left: 4px solid #0297E6;
  }
  margin-bottom: 15px;
  &.full-height {
    height: 557px;
  }
}

.modal-full {
  .modal-dialog {
    top: 0px;
    bottom: 0px;
  }
  .modal-content {
    border-radius: 0;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 1100px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-full {
    .modal-dialog {
      width: 100%;
    }
  }
}

.row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.select-box {
  position: relative;

  &.no-hover {
    .item:hover {
      background: #fff;
    }
  }
  .item {
    padding: 12px 23px !important;
    font-size: 14px;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;

    & span.type {
      display: inline-block;
      height: auto !important;
      width: auto !important;
      padding: 1px 4px !important;
      margin: 2px 0 0 0 !important;
      text-transform: lowercase;
      font-size: 11px;
      white-space: nowrap;
      color: inherit !important;
      color: #666;
      background: #efefef;
      border-radius: 3px;
    }
    &.n1 {
      border-left: 4px solid #0297E6 !important;
    }
    &.n2 {
      border-left: 4px solid #AF3FD5 !important;
    }
    .material-icons {
      color: #0297E6 !important;
      opacity: 0;
      line-height: 19px !important;
      margin: 0 !important;
      padding: 0 !important;
      font-size: 14px !important;
      height: auto !important;
      width: auto !important;
    }
    &:hover {
      background: #F2F2F2;
      border-radius: 1px;
      .material-icons {
        opacity: 1;
        cursor: pointer;
      }
    }
    a {
      color: #9B9B9B;
    }
  }
  &.bordered {
    .item {
      border-top: 1px solid #F2F2F2 !important;
      .material-icons {
        position: relative;
        color: #b1b1b1;
        right: -14px;
        &.del {
          color: #b1b1b1 !important;
          position: relative !important;
          left: auto !important;
          right: 11px !important;
          //                    top: 2px;
          transform: rotate(45deg);
        }
      }
    }
  }
}

.column-header {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 23px 23px;
}

.select-style {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
  //    width: 90px;
  overflow: hidden;
  font-size: 10px;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  &.n1 {
    border-color: #0297E6;
    border-width: 2px;
  }
  &.n2 {
    border-color: #AF3FD5;
    border-width: 2px;
  }
  &:after {
    content: '';
    position: absolute;
    top: 6px;
    right: 4px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #B2B2B2;
  }
}

select {
  height: 20px;
  line-height: 20px;
  padding: 2px 5px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select:focus {
  outline: none;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}

.literal-style {
  border-bottom: 1px solid #ccc;
  background: #fff;
  position: relative;
  clear: both;

  i.fa {
    position: absolute;
    left: 5px;
    top: 2px;
    bottom: 2px;
    font-size: 12px;
    padding: 0 3px;
    border-radius: 3px;
    background: #ccc;
    opacity: 1;
    color: #fff;
    animation: blinker 2.5s linear infinite;
  }

  &:active,
  &:focus {
    i.fa {
      display: none;
    }
  }

  input {
    border: none;
    background: transparent;
    padding: 2px 5px;
    margin: 0;
    width: 100%;
    color: #000;
    opacity: 1;
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}


.pull-left {
  float: left;
}

.btn-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  padding: 0 24px;
  z-index: 100;
}
.btn {
  background: #0297E6;
  border-radius: 2px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  height: 37px;
  line-height: 37px;
  padding: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25) !important;
  }
}

button {
  background: #fff;
  border: 0;
}

.dialogPopup {
  position: relative;
  padding: 0 !important;
  margin: 0 !important;

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #A0A0A0;
    cursor: pointer;
    z-index: 100;
  }
}

#nodeModal {
  //    display: block;
}

.modal-sidebar {
  width: 310px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  position: fixed;
  box-sizing: border-box;
  display: block;
  background: #fff;
  overflow-y: scroll;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 4.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
  padding: 0px;
  height: 100%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  .btn {
    position: relative;
    bottom: 0;
    width: auto;
    margin: 11px 30px 9px 23px;
    left: 0;
    .material-icons {
      line-height: 35px;
    }
  }
  .input-style {
    input {
      border-bottom: 1px solid #9B9B9B;
    }
  }
}

.panel {
  margin-bottom: 1px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  //    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  //    border-bottom: 1px solid #9B9B9B;
}

.panel-body {
  li {
    list-style: none;
    position: relative;
    height: 30px;
    padding-left: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    line-height: 35px;
    &:before {
      content: '';
      background: #CCCCCC;
      height: 10px;
      width: 10px;
      position: absolute;
      left: -10px;
      top: 13px;
    }
  }
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.panel-title {
  /* Cleanse: */
  margin: 14px 0;
  padding-left: 23px;
  a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
  }
}

.nav-tabs {
  border-bottom: 1px solid #CCCCCC;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  @extend .clearfix
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  width: 50%;
  text-align: center;
}

.nav>li {
  position: relative;
  display: block;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 3px 3px 0 0;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  position: relative;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.nav>li>a {}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  cursor: default;
  //    background-color: #0297E6;
  border-bottom: 3px solid #767676;
  //    color: #fff;
  font-weight: 600;
}

.modal-sidebar-heading {
  /* Outcome: */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: #000000;
  font-weight: 600;
  padding: 33px 23px;
}

.modal-sidebar-subheading {
  /* Outcome: */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  color: #000000;
  font-weight: 400;
  padding: 0 23px;
}

.modal-table {
  width: 100%;
  padding-left: 310px;
  padding-right: 0px;
}

table {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
  thead {
    cursor: pointer;
    tr th {
      font-weight: 400;
      padding: 12px 44px;
      text-align: left;
      position: relative;
      span {
        background-repeat: no-repeat;
        background-position: 100% 100%;
        text-align: center;
        margin-right: 8px;
      }
    }
  }
  tbody tr {}
  tbody tr td {
    text-align: left;
    padding: 6px 10px;
  }
  tbody tr td.lalign {
    text-align: left;
  }
}

.table-icon {
  width: 50px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: 15px;
}

.input-style {
  padding: 11px 30px 9px 23px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  input {
    padding: 0;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 10px;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    &:focus {
      outline: none;
    }
    &.function {
      background-image: url(../../static/assets/images/ic_functions_black_24px.svg);
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 30px;
      opacity: 0.4;
      filter: alpha(opacity=40);
    }
  }
}

circle {
  //    stroke-dashoffset: 0;
  //     stroke-dasharray: 314.2052917480469;
  &.bar {
    stroke-dasharray: 76;
    stroke-dashoffset: 100;
    transition: 1000ms stroke-dashoffset;
    stroke-linecap: round;
  }
}

input {
  opacity: 0.7;
  border: 0;
  padding: 3px;
  width: 30px;
}

.progress {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: #fff;
  border-radius: 58px;
  padding: 12px 13px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s linear;
  z-index: 100;
  svg {
    position: absolute;
    transform: rotate(-90deg)
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.counter {
  position: absolute;
  left: -60px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #9B9B9B;
  font-weight: 700;
  padding: 5px 0px;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.table {
  width: 100%;
  tbody tr {
    &:hover,
    &.active {
      td {
        background: #F2F2F2;
        color: #000;
      }
    }
  }
  thead tr th {
    padding: 8px 10px;
    text-align: left;
    &:after {
      display: none;
    }
    &:first-of-type {
      border-bottom: 2px solid #ccc;
    }
  }
  tbody tr td {
    padding: 8px 10px;
    text-align: left;
    &:first-of-type {
      padding-right: 50px;
    }
  }
  .header {
    background: #fff;
    height: auto;
    box-shadow: none;
    text-align: left;
    width: auto;
    z-index: 0;
  }
}

.tagsinput {
  width: 450px;
  border-bottom: 1px solid #9B9B9B;
  position: relative;
  padding-left: 30px;
  margin-top: 23px;
  input {
    //  width: 100%;
    //        display: block!important;
    width: auto;
    font-size: 12px;
    //        padding-bottom: 10px;
    line-height: 20px;
    &:focus {
      outline: none;
    }
  }
  &:after {
    content: '';
    background: url('../../static/assets/images/ic_search.svg');
    width: 10px;
    height: 10px;
    position: absolute;
    top: 8px;
    left: 10px;
  }
  &.short-input {
    width: 250px;
  }
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  color: #000;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  font-family: 'Source Sans Pro', sans-serif;
}

.label-info {
  background: #D8D8D8;
}

.wide {
  width: 100%;
}

.table-border {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.50);
  border-radius: 2px;
  padding: 12px 24px;
}

h2.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  position: relative;
}

h3.subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.table {
  margin-top: 20px;
}

.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  overflow: hidden;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  cursor: pointer;
}

.tt-suggestion {
  display: block;
  padding: 6px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.tt-suggestion {
  span {
    color: #9f9f9f;
  }
  &:hover {
    span {
      color: #ffffff;
    }
  }
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #0297E6;
}

[data-role='remove'] {
  background: url(../../static/assets/images/ic_close_black_24px.svg);
  background-size: cover;
  height: 8px;
  width: 8px;
  display: inline-block;
  cursor: pointer;
  margin: -1px 2px -1px 4px;
}

.crossfiler {
  width: 120px;
  margin: 30px auto 0;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  span {
    position: relative;
    bottom: 4px;
  }
  i.material-icons {
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.custom-select {
  width: 120px;
  margin-top: 32px;
  margin-left: 40px;
  border-color: #9B9B9B;
}

.popover {
  position: absolute;
  top: 100%;
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  .btn {
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    margin: 0;
    margin-top: 8px;
  }
  &.hide {
    display: none;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    z-index: 300;
  }
  .subtitle {
    margin: 0;
  }
  span {
    line-height: 37px;
    display: block;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    @extend .clearfix;
  }
  .select-style {
    height: 28px;
    width: 81px;
    margin-left: 10px;
    &:after {
      top: 16px;
    }
  }
  h4.subtitle {
    font-size: 14px;
    margin: 20px 0;
    font-weight: 400;
  }
}

.progress-line {
  height: 20px;
  margin-top: 10px;
  float: right;
  overflow: hidden;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 238px;
  margin-left: 10px;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #0297E6;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

[data-status='failure'] {
  .color {
    color: #EF5350;
    font-weight: 600;
  }
}

[data-status='success'] {
  .color {
    color: #13A5AC;
    font-weight: 600;
  }
}

[data-status='running'] {
  .color {
    color: #0297E6;
    font-weight: 600;
  }
}

.apply-btn {
  margin: 20px 30px 10px;
  font-size: 14px;
  color: #818181;
  cursor: pointer;
}

#keywords {
  width: 95%;
}

.back-btn {
  color: #9B9B9B;
  position: absolute;
  left: -50px;
  top: 4px;
  &:hover {
    color: #000000;
  }
}

.inner-footer {
  left: auto;
  right: auto;
}

.footer-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  //    background: black;
  z-index: -5;
  &.active {
    z-index: 40;
  }
}




#app-content {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

#workflow-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.workflow-containter {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
}
.workflow-tab-panel {
  position: absolute;
  top: 26px;
  bottom: 0;
  left: 0;
  right: 0;
}
/*.workflow-tab-panel .workflow {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
/*}*/
/*.workflow-tab-panel .workflow .workflow-pane {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*overflow: visible;*/
  /*-webkit-transform: translate3d(0, 0, 0);*/
/*}*/

// common
$item-vertical-spacing: 4px !default;
$item-border-radius: 5px !default;

// groups
$group-background-color: rgba(128, 128, 128, .05) !default;
$group-border-color: #CCC !default;
$group-border: 1px solid $group-border-color !default;
$group-padding: 10px !default;

// rules
$rule-background-color: rgba(255, 255, 255, .9) !default;
$rule-border-color: #EEE !default;
$rule-border: 1px solid $rule-border-color !default;
$rule-padding: 5px !default;
$rule-value-separator: 1px solid #DDD !default;

// errors
$error-icon-color: #F00 !default;
$error-border-color: #F99 !default;
$error-background-color: #FDD !default;

// ticks
$ticks-width: 2px !default;
$ticks-color: #CCC !default;
$ticks-position: 5px, 10px !default;

// ABSTRACTS
%base-container {
  position: relative;
  margin: $item-vertical-spacing 0;
  border-radius: $item-border-radius;
  padding: $rule-padding;
  border: $rule-border;
  background: $rule-background-color;
}

%rule-component {
  display: inline-block;
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.query-builder {
  font-weight: normal;
  font-family: "Source Sans Pro", sans-serif;

  // GROUPS
  .rules-group-container {
    @extend %base-container;

    padding: $group-padding;
    padding-bottom: #{$group-padding - $item-vertical-spacing};
    border: $group-border;
    background: $group-background-color;
  }

  .rules-group-body {
    padding: 0;
    margin: 0;
  }

  .rules-group-header {
    margin-bottom: $group-padding;

    .group-conditions {
      display: inline-block;
      font-size: 12px;
      font-weight: bold;

      label {
        display: inline-block;
        padding: 1px 3px;
        color: #000;
        background: #ccc;
        cursor: pointer;

        &:first-child {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
        &:last-child {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
        &.active {
          color: #fff;
          background: #0297E6;
        }
      }
    }
  }

  .rules-list {
    list-style: none;
    padding: 0 0 0 #{nth($ticks-position, 1) + nth($ticks-position, 2)};
    margin: 0;
  }

  // RULES
  .rule-container {
    @extend %base-container;

    .rule-filter-container,
    .rule-operator-container,
    .rule-value-container {
      @extend %rule-component;
      border: none;
    }
  }

  .expression {
    display: flex;
    height: 38px;

    .operator {
      width: 33%;
    }

    .operand {
      width: 33%;
    }

    .Select-control {
      border: none;
      height: 26px;
    }

    .Select-control .Select-value {
      line-height: 26px;
    }

    .Select-input {
      height: 26px;
    }

    .Select-value {
      opacity: 0.7;
      text-align: center;
    }

    .Select-arrow-zone {
      visibility: hidden
    }
  }

  button {
      opacity: 1;
      padding-left: 7px;
      padding-right: 3px;
      padding-top: 2px;
      padding-bottom: 2px;
      text-align: center;
  }

  .rule-remove {
    font-weight: bold;
    padding-left: 2px;
  }

  .rule-value-container {
    border-left: $rule-value-separator;

    label {
      margin-bottom: 0;
      font-weight: normal;

      &.block {
        display: block;
      }
    }

    select, input[type=text], input[type=number] {
      padding: 1px;
    }
  }

  // ERRORS
  .error-container {
    @extend %rule-component;
    display: none;
    cursor: help;
    color: $error-icon-color;
  }

  .has-error {
    background-color: $error-background-color;
    border-color: $error-border-color;

    .error-container {
      display: inline-block !important;
    }
  }

  // TICKS
  .rules-list>* {
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: #{-1 * nth($ticks-position, 2)};
      width: nth($ticks-position, 2);
      height: calc(50% + #{$item-vertical-spacing});
      border-color: $ticks-color;
      border-style: solid;
      box-sizing: border-box;
    }

    &::before {
      top: #{-2 * $ticks-width};
      border-width: 0 0 $ticks-width $ticks-width;
    }

    &::after {
      top: 50%;
      border-width: 0 0 0 $ticks-width;
    }

    &:first-child::before {
      top: #{-$group-padding - $ticks-width + 1};
      height: calc(50% + #{$group-padding + $item-vertical-spacing});
    }

    &:last-child::before {
      border-radius: 0 0 0 #{2 * $ticks-width};
    }

    &:last-child::after {
      display: none;
    }
  }
}

.autocompleteDropdownItem {
  padding: 0 10px;
  cursor: pointer;

  &.highlight {
    background: #e3e3e3;
  }
}

.manualEntryContainer {
  position: absolute;
  padding: 0 30px;
  bottom: 70px;
  left: 0;
  right: 0;
  z-index: 150;

  label {
    display: block;
    font-size: 11px;
    font-weight: normal;
    font-family: "Source Sans Pro", sans-serif;
    padding: 0 0 3px 0;
  }

  input {
    display: block;
    padding: 5px;
    margin: 0;
    width: 100%;
    margin: 0;
    border: 1px solid #ccc;
    background: #fff;
    opacity: 1;
    outline: none;
    border-radius: 3px;
    box-sizing: border-box;
  }
}

.dataCleanser {
  width: 300px;
  height: 100vh;
  float: left;
  overflow: hidden;
  border-right: 1px solid #f3f3f3;
};

.sampleTable {
  width: calc(100% - 300px);
  height: 100vh;
  float: left;
  overflow: hidden;
};

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex .flex-2 {
  flex-grow: 1;
  width: 47.5%;
  padding-right: 5%;
}
.flex .flex-2:last-child {
  padding-right: 0;
}
.flex .flex-3 {
  flex-grow: 1;
  width: 30%;
  padding-right: 5%;
}
.flex .flex-3:last-child {
  padding-right: 0;
}
.flex .flex-4 {
  flex-grow: 1;
  width: 25%;
}


.uploadControlBox {
  padding: 0.25em 0.5em;
  text-align: center;
  width: auto;
  height: auto;
  font-weight: normal;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid rgb(189, 189, 189);
  cursor: pointer;
}
.uploadControlBox:hover {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.centerButton {
  text-align: center;
}

.joinConditions {
  .row {
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    border-top: 1px solid #F2F2F2;
    text-align: center;
    font-weight: normal;
    > * {
      display: inline-block;
      float: left;
      height: 48px;
      line-height: 48px;
    }
    &.joinSelector {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
    .shiftUp {
      transform: translateY(-6px);
    }
  }
}

$outlineColor: #C1C1C1;

.flexContainer {
  display: -webkit-flex; /* Safari */
  display: flex;
  &.border {
    border: 1px solid $outlineColor;
  }
  &.col {
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
  }
  &.row {
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;
  }
  &.padding {
    padding: 1rem;
  }
  .flexItem {
    flex-grow: 1;
    display: flex;
    &.noFlexGrow {
      flex-grow: 0;
    }
    &.padding {
      padding: 2rem;
    }
    &.col {
      -webkit-flex-direction: column; /* Safari */
      flex-direction: column;
    }
    &.row {
      -webkit-flex-direction: row; /* Safari */
      flex-direction: row;
    }
    &.alignTop {
      align-self: flex-start;
    }
    &.alignCenter {
      align-self: center;
    }
    &.alignBottom {
      align-self: flex-end;
    }
    &.justifyCenter {
      justify-content: center;
    }
    &.justifyTop {
      justify-content: flex-start;
    }
    &.justifyBottom {
      justify-content: flex-end;
    }
  }
}

