.workflow {
  height: 100%;
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
}

.workflow-pane {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.workflowTabss {
  nav {
    background: #F8F9FA;
    label {
      font-size: 0.8rem;
      padding: 0.8rem 1.0rem;
    }
  }
  section {
    padding: 0;
  }
}

.wworkflowTabs {
  float: left;
  .wworkflowTab {
    height: 26px;
    line-height: 26px;
    font-size: 11px;
    &.is-active {
      background-color: white;
    }
    &:after {
      background: rgba(255, 255, 255, 1);
    }
  }
}

.rc-menu {
  background-color: transparent;
  border: none;
  .rc-menu-submenu-active {
    background-color: transparent;
    border: none;
    .rc-menu-submenu-title {
      background-color: transparent;
      color: black;
    }
  }
  .rc-menu-sub {
    max-height: 60vh;
    overflow-y: scroll;
  }
}
