.app-menu {
  top: 60px;
  background: #FAFAFA !important;
  box-shadow: 0px 9px 18px 0px rgba(0,0,0,0.18),0px 5px 5px 0px rgba(0,0,0,0.24);
  overflow-y: scroll !important;

	.app-menu-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: black;
		color: white;
		padding: 5px 20px;
		font-size: 13px;

		a {
			cursor: pointer;
		}
	}
	.app-menu-content {
		padding: 15px 0;

		.app-menu-item {
			margin: 5px auto;
			width: 150px;
			text-align: left;
			color: #848484 !important;
			font-size: 14px !important;
			line-height: 38px !important;

			div {
				padding: 0 !important;
			}

			&:hover {
				color: black !important;
				font-weight: 500 !important;
				background-color: transparent !important;
			}

			i.material-icons {
				vertical-align: middle;
				margin-right: 30px;
			}
		}
	}
}