.mainslide, .navbar {
    background-color: #282E40
}

.mainslide {
    color: #FFF;
}

html {
    min-height: 100%;
    padding-bottom: 1px;
    background-color: #282E40;
}

.mainslide {
    position: relative;
    overflow: hidden
}

.sec_center, .sec_center_b {
    position: absolute;
    bottom: 0;
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    z-index: 100
}

.sec_center {
    top: 0;
    right: 0;
    height: 100%
}

.sec_center_in {
    display: table-cell;
    vertical-align: middle
}

.navbar {
    position: relative;
    min-height: 130px;
    margin-bottom: 0;
    border: none;
    border-radius: 0
}

@media (min-width: 767px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top
    }

    .navbar .navbar-collapse {
        text-align: center
    }
}

.navbar-default .navbar-toggle {
    border-color: transparent
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #D4D5D8
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    opacity: 1;
    font-family: SourceSansPro-Regular;
    font-size: 17px;
    color: #00CBD5;
    letter-spacing: .63px
}

.navbar-default .navbar-nav > li > a {
    background-color: transparent;
    opacity: .8;
    font-family: SourceSansPro-Regular;
    font-size: 17px;
    color: #FFF;
    letter-spacing: .63px
}

.navbar-default .navbar-nav > li > a.act, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    opacity: 1;
    font-family: SourceSansPro-Regular;
    font-size: 17px;
    color: #00CBD5;
    letter-spacing: .63px
}

.bg1 {
    height: 100%;
    width: 100%;
    background-size: cover;
    color: #fff
}

.bg1 {
    position: relative;
    background-image: url(../svg/wave.svg);
    background-color: #282E40;
    transition: all 5s ease;
    -moz-transition: all 5s ease;
    -ms-transition: all 5s ease;
    -webkit-transition: all 5s ease;
    -o-transition: all 5s ease
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    color: #FFF;
    letter-spacing: 0
}

.bgzoom {
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')
}

.h1, h1 {
    font-family: SourceSansPro-Bold;
    font-size: 80px;
    line-height: 90px
}

.h2, h2 {
    font-family: SourceSansPro-Semibold;
    font-size: 32px;
    line-height: 38px
}

.h3, h3 {
    font-family: SourceSansPro-Regular;
    font-size: 22px;
    line-height: 31px
}

.h4, h4 {
    font-family: SourceSansPro-Light;
    font-size: 16px
}

.a1, .a1:active, .a1:visited {
    opacity: .8;
    font-family: SourceSansPro-Regular;
    font-size: 20px;
    color: #FFF;
    letter-spacing: .63px
}

.a1:hover {
    text-decoration: none;
    opacity: 1
}

.provider {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 4px;
    outline: none;
}
.facebook { background: #3B5998; }
.google { background: #D14836; }
.twitter { background: #00ACED; }
.yahoo { background: #731A8B; }
.xing { background: #006567; }
.vk { background: #567ca4; }

.social-providers,
.sign-in-now,
.already-member,
.not-a-member {
    text-align: center;
    margin-top: 20px;
}

.has-error .help-block {
    color: #9D0D91;
}

.btn-primary {
    color: #fff;
    background-color: #0096FF;
    border-color: #0096FF;
}

.alert-danger {
    color: #DA5AF4;
    background-color: #FEC7FD;
    border-color: #FEC7FD;
}

.bar {
    width: 4px;
    margin-bottom: 8px;
    vertical-align: bottom;
}