.dialog {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}

.body {
  height: 100%;
  button:first-child {
    position: absolute;
    top: 0;
    right: 0;
  }
  button:last-child {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

