.dialog {
  overflow: visible;
  .body {
    overflow: visible;
    button:first-child {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 99999;
    }
  }
  height: 100%;
}
.layout {
  overflow: visible;
  margin: 2rem;
  .navDrawer.pinned {
    .drawerContent {
      width: 18rem;
      background-color: transparent;
      box-shadow: none;
      .link {
        padding-left: 1rem;
        height: 4rem;
        line-height: 4rem;
        border-left: 0.3rem solid transparent;
      }
      .link.active {
        opacity: 1;
        border-left: 0.3rem solid #0297E6;
      }
    }
    width: 18rem;
  }
  .panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 2rem;
    min-height: 30vh;
    max-height: 70vh;
    overflow: visible;
    .link {
      max-width: 30rem;
      display: inline-block;
      overflow: visible;
      cursor: pointer;
      font-size: 1.3rem;
      padding: 1rem;
      padding-left: 3rem;
      &:hover {
        color: #0297E6;
        svg g rect {
          fill: #0297E6;
        }
      }
      svg {
        margin-right: 1rem;
      }
      .tooltip {
        z-index: 999999;
        padding: 2rem;
        text-align: left;
        opacity: 1;
        min-height: 20rem;
        min-width: 30rem;
        border-radius: 0.2rem;
        box-shadow: 0 19px 60px rgba(0, 0, 0, 0.1), 0 15px 20px rgba(0, 0, 0, 0.1);
        background-color: white;
        color: black;
        h5 {
          font-size: 1.5rem;
          line-height: 1.7rem;
          margin: 1rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 1.4rem;
          margin: 1rem;
        }
        h6 {
          font-size: 1.2rem;
          line-height: 1.4rem;
          margin-left: 1rem;
          margin-right: 1rem;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
.icon {
  color: #ccc;
  &:hover {
    color: #0297E6;

  }
}