.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(238, 238, 238, 0.5);
  z-index: 99999;
  width: 100%;
  height: auto;
  .center {
    position: absolute;
    width: 220px;
    height: 80px;
    top: 45%;
    left: 50%;
    margin-left: -110px;
    margin-top: -40px;
    text-align: center;
    background-color: #FFFFFF;
    opacity: 1;
  }
}
