.table {
  > tbody {
    overflow: scroll;
    td {
      max-width: 20rem;
      color: #424242;
    }
  }
  th:first-letter {
    text-transform: none;
  }
}

.link {
  > abbr {
    width: 100%;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: none;
  }
  &:not(.active) {
    opacity: .9;
  }
}

.tooltip {
  overflow: auto;
  max-width: 40rem;
  max-height: 30rem;
  z-index: 300;
  background-color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #CCCCCC;
  text-align: left;
  font-size: 1.1rem;
  font-weight: normal;
  p {
    font-size: 1.1rem;
    font-weight: normal;
    padding: 1rem;
    width: 40rem;
    line-height: 1.3rem;
    float: left;
  }
}

.tooltipInner {
  color: #424242;
  background-color: white;
}

.tableHeader {
  small {
    font-size: 1.1rem;
    font-weight: normal;
  }
  button {
    position: absolute;
    top: 2px;
    right: 5px;
    color: #7F7F7F !important;
    &:hover {
      color: #0096FF !important;
    }
  }
}

.table {
  thead {
    tr {
      line-height: 20px;
      th {
        line-height: 20px;
        padding-bottom: 5px;
      }
    }
  }
  tr {
    height: 30px;
    line-height: 30px;
  }
  td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
}
