$outlineColor: #C1C1C1;
$blue-color: #0096FF;
.dialog {
  overflow: visible;
  .body {
    overflow: visible;
    font-family: 'Source Sans Pro';
    button:first-child {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 99999;
    }
  }
  height: 100%;
}

.rootTable {
  height: 100%;
  font-family: 'Source Sans Pro';
  th {
    padding: 5px !important;
  }
}

.flexContainer {
  display: -webkit-flex; /* Safari */
  display: flex;
  h5 {
    color: black;
  }
  &.border {
    border: 1px solid $outlineColor;
  }
  &.col {
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
  }
  &.row {
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;
  }
  &.leftPanel {
    width: 100%;
    height: 84vh;
    font-family: "Source Sans Pro";
    color: #424242;
  }
  .flexItem {
    flex-grow: 1;
    display: flex;
    &.padding {
      padding: 2rem;
    }
    &.col {
      -webkit-flex-direction: column; /* Safari */
      flex-direction: column;
    }
    &.row {
      -webkit-flex-direction: row; /* Safari */
      flex-direction: row;
    }
    &.alignTop {
      align-self: flex-start;
    }
    &.alignCenter {
      align-self: center;
    }
    &.alignBottom {
      align-self: flex-end;
    }
    &.justifyCenter {
      justify-content: center;
    }
    &.justifyTop {
      justify-content: flex-start;
    }
    &.justifyBottom {
      justify-content: flex-end;
    }
    &.rightPanel {
      width: 70%;
      height: 90vh;
    }
  }
}

.histogramBar {
  background-color: $blue-color;
  height: 1rem;
  margin: 5px;
}

.table {
  > tbody {
    overflow: scroll;
    td {
      max-width: 20rem;
      color: #424242;
    }
  }
  th:first-letter {
    text-transform: none;
  }
}

.link {
  > abbr {
    width: 100%;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: none;
  }
  &:not(.active) {
    opacity: .9;
  }
}

.tooltip {
  overflow: auto;
  max-width: 40rem;
  max-height: 30rem;
  z-index: 300;
  background-color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #CCCCCC;
  text-align: left;
  font-size: 1.1rem;
  font-weight: normal;
  p {
    font-size: 1.1rem;
    font-weight: normal;
    padding: 1rem;
    width: 40rem;
    line-height: 1.3rem;
    float: left;
  }
}

.tooltipInner {
  color: #424242;
  background-color: white;
}
