.navigation {
  background: #F8F9FA;
  box-shadow: inset 0 -1px #C1C1C1;
  border-top: 1px solid #C1C1C1;
}

.label {
  padding: 0.8rem 2.0rem 0.8rem 1.2rem;
  font-size: 1.2rem;
  text-transform: none;
  color: #848484;
  &.active {
    color: #848484;
    background-color: white;
    border-left: 1px solid #C1C1C1;
    border-right: 1px solid #C1C1C1;
  }
  button {
    cursor: pointer;
    transform: translateX(0.4rem);
    position: absolute;
    color: gray;
    float: right;
  }
}

.pointer {
  background-color: transparent;
}


.tab {
  padding: 0;
  height: calc(100% - 2.8rem);
  &.active {
    outline: none;
  }
}

.tabs {
  height: calc(100% - 45px); 
}
